/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

circle {
  fill: black;
  r: 5
}
svg {
  border: 5px solid black;
  background-color: gray;
}
.mouse {
  fill: red;
  height: 20px;
  width: 20px;
}

image {
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}
/*  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;*/

/*
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(90deg); }
}
*/
/*@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg);  }
    to {  transform:rotate(360deg);  }
}
*/

/*
.rotate{
-webkit-transition-duration: 1s;
-moz-transition-duration: 1s;
-o-transition-duration: 1s;
transition-duration: 1s;

-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;

overflow:hidden;

}

.rotate:hover
{
-webkit-transform:rotate(450deg);
-moz-transform:rotate(450deg);
-o-transform:rotate(450deg);
}
*/